# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: d3e7f0c00d1a      # ver 1.2 board
# run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

[adxl345]
cs_pin: EBBCan:PB12
spi_software_sclk_pin: EBBCan:PB10
spi_software_mosi_pin: EBBCan:PB11
spi_software_miso_pin: EBBCan:PB2
axes_map: x,y,z

[extruder]
step_pin: EBBCan:PD0
dir_pin: EBBCan:PD1
enable_pin: !EBBCan:PD2
microsteps: 16
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
rotation_distance: 4.637   # For Orbiter 2.0  (5.586 LGX Lite, 21.34 CW2)
#gear_ratio: 50:10               #BMG Gear Ratio CW2
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
max_extrude_only_distance: 200.0   #Max length of a retraction or extrusion, default 50mm
max_extrude_only_velocity: 120
max_extrude_cross_section: 5
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.055
pressure_advance_smooth_time: 0.040
heater_pin: EBBCan:PB13
sensor_type: MAX31865
sensor_pin: EBBCan:PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 310
max_power: 1.0
smooth_time: 0.5
min_extrude_temp: 170
pressure_advance: 0.045
pressure_advance_smooth_time: 0.02

[firmware_retraction]
retract_length: 1
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30

[tmc2209 extruder]
uart_pin: EBBCan:PA15
interpolate: true
run_current: 0.850
hold_current: 0.100
sense_resistor: 0.11
stealthchop_threshold: 0     #999999
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

## Print cooling fan
[fan]
pin: EBBCan:PA0
kick_start_time: 0.5
off_below: 0.20

[heater_fan hotend_fan]
pin: EBBCan:PA1
max_power: 1.0
kick_start_time: 0.5
off_below: 0.1
heater: extruder
heater_temp: 50.0
tachometer_pin: ^EBBCan:PB7             ; Last of the endstop inputs
tachometer_ppr: 2

#[neopixel hotend_rgb]
#pin: EBBCan:PD3
# Defined elsewhere with the colour macros

## Andrew Ellis' temperature model for the thermistor - XXX
[thermistor 100k3950_airtemp]
temperature1: 20
resistance1: 125245
temperature2: 50
resistance2: 35900
temperature3: 80
resistance3: 12933

[temperature_sensor chamber]
sensor_type: 100k3950_airtemp
sensor_pin: EBBCan:PA3
min_temp: 0
max_temp: 80
gcode_id: Ch

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 80

#[probe]
# in the main printer.cfg so the probe_calibrate routine can save any adjustments

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3
